a:hover,.nav a:hover span{color:#000;border-color:#c35}
table{border-spacing:0;border:none;clear:both}
table th,table td{padding:0}
.lg a:hover{background:#e57}
#timeis_wrapper h1#pL a:hover{border-color:#c35}
.tbx a:hover,.tbx a.chosen,.tbx a.chosen:hover{border-color:#999;background:#f4f4f4;color:#666}
.tbx a:hover{border-color:#ccc}
.tbx span.time{color:#999}
div .hovered{border-color:#ccc;background:#f8f8f8}

#bgimg{position:relative}

input.focused,textarea.focused{background:#fff;border-color:#999;color:#000}
label.focused{background:none}

.simplify #qbox{display:none}
#qbox{display:block;position:absolute;right:58px;width:180px;z-index:11;transition:all .5s ease}
#qbox.fcs,.minihdr #qbox.fcs{right:0;width:680px}
#q{width:100px;padding:10px 20px;font-weight:900;font-family:'Arial Black',sans-serif;transition:all .5s ease,padding .5s ease}
#front_loc{padding-left:88px}
#q.txtin{margin-top:8px;padding:2px 20px 2px 60px;border:none;background:#eee url('//static.time.is/img/magnifying_glass_grey.png') 10px center no-repeat;height:40px;float:right

}
#q.blr{color:#999;font-size:26px;line-height:30px;color:#eee}
#q.hovered{border-color:#ddd}
#q:focus{font-size:26px;line-height:26px;width:600px;line-height:40px;padding-top:10px;padding-bottom:10px;margin-top:0;color:#000}

#susdiv{opacity:.95}
.susdiv{z-index:9;clear:both;position:relative;margin-top:0;transition:height .5s ease}
.susdiv,.susdiv table{width:100%}
.susdiv tr{background:#333;padding:0}
.susdiv td{padding:0;border-top:1px solid #fff}
.susdiv td.t{width:115px;white-space:nowrap}
.susdiv a{display:block;text-decoration:none;padding:15px 20px;border:0}
.susdiv a span{display:block;float:none;color:#fff;padding:0;white-space:normal;font-size:20px;line-height:26px;border:0}
.susdiv td.t span{text-align:right;width:95px}
.susdiv .chosen{background:#c35}
#qbox .susdiv{height:0px;overflow:hidden}
#qbox.fcs .susdiv{height:500px}

.rtl #qbox{right:auto;left:58px}
.rtl #qbox.fcs{right:auto;left:0}
.rtl #q.txtin{background-position:right 10px center;padding-right:60px;padding-left:20px}

.inputframe{background:#eee;border:1px solid #ccc;margin:20px 0 10px 0;padding:20px 40px 40px 40px}
.wb .inputframe{background:#333;border-color:#444}
.inputframe input{background:#fff}
.wb .inputframe input{background:#000}

.susdiv.hide{display:block}

@media only screen and (max-width:639px){
.susdiv a{padding:10px}
.susdiv a span{font-size:16px;line-height:18px}
}


@media only screen and (max-width:915px){#qbox.fcs,.minihdr #qbox.fcs{width:100%}}


.wb #q.blr{color:#333;background-color:#222}
.wb #q{color:#333}
.wb .txtin.hovered,.wb #q.hovered{background-color:#333}
.wb .txtin.focused,.wb #q.focused,.wb #widgetform .focused{background-color:#222;color:#fff}
.wb .susdiv td{border-color:#000}
.wb div,.wb #clock0 div,.wb .susdiv a span,.wb #pL a:link,.wb #pL a:visited,.wb #dd,.wb #pL,.susdiv a:hover span,.wb .susdiv a span,.wb .caln a:link,.wb .caln a:visited,.caln th.nextp a:link,.caln th.nextp a:visited,.wb .selected{color:#fff}

.minihdr #msgs.tr{display:block;visibility:visible}
.minihdr #daydiv{display:none}
.minihdr #qbox{width:40px}
.minihdr #q.blr{width:0px;padding-left:30px;background-color:#fff;color:#fff}
.minihdr.rtl #q.blr{padding-right:30px}
.minihdr.wb #q.blr{background-color:#000}
#formatted_time{width:450px}
#iso_formatted_time{width:300px}

@media only screen and (max-width:640px){
#qbox{width:40px}
#q.blr{width:0px;padding-left:30px;background-color:#fff;color:#fff}
.rtl #q.blr{padding-right:30px}
.wb #q.blr{background-color:#000}
}


#ampm{text-transform:uppercase}
#dd{cursor:pointer}
body.wb{background:#000}
.wb a:link,.wb a:visited,.wb div.shtable p a:link,.wb div.shtable p a:visited,.wb .nav a span{color:#ccc;border-color:#333}
.wb div a:hover,.wb .nav a:hover span,#restaurants ul a:hover{color:#fff;border-color:#c35}
td.value{padding-left:20px;text-align:right}
input.num{text-align:right}
.infotable td{padding:2px 10px}
.infotable .lastrow td{border-bottom:1px solid #ccc}
.infotable{margin:20px 0}
.wb div.nav li{border-color:#333}

body .txtin.error{color:#c35;border-color:#c35}
.error li,h2.error{color:#c35;font-weight:bold}
#sizeerror{margin-top:10px;background:#c35;color:#fff;padding:0 10px}
#aub.st1 span,.wb #aub.st1 span{border-color:#c35}
.highlight{background:#eee}
#yr span{color:#888}
ul,ol{padding:0 0 20px 25px}
ol{padding-left:5px}
.rtl ul{padding:0 25px 20px 0}
li{list-style:square}
ol li{list-style:decimal inside}
#navbg,.map.simplify #navbg,.showall #navbg,body #navbg:hover,.factspage #clock0_bg{background:#eee}
.wb .highlight,.wb #navbg,.wb .showall #navbg,.wb #navbg:hover,.wb #clock0_bg.factspage{background:#222}
.wb #lC,.wb #daydiv,.wb .lsp{color:#ccc}
.wb .divider{color:#333}

.wb .tbx a{border-color:#222;background:#222;color:#fff}
.wb .tbx a:hover,.wb .tbx a.chosen,.wb .tbx a.chosen:hover{background:#181818;border-color:#666;color:#fff}
.wb .tbx a:hover{border-color:#333}

.wb div .txtin,.wb .dateinput,.wb #widgetform .mout{background:#222;border:1px solid #222;color:#ccc}
input.comparelocation{width:350px;margin-top:5px;clear:both}
.loc1{margin-right:10px}


.cmpstart{clear:none;margin-right:5px}

#compare_form .susdiv table{width:372px}
#compare_form .susdiv td{width:257px}
#compare_form .susdiv td.t{width:115px}
#compare_form .susdiv a{padding:10px}
#compare_form .susdiv a span{width:247px;font-size:16px;line-height:18px}
#compare_form .susdiv td.t span{width:85px}




.CM{padding-bottom:40px}
.CM td{border-left:1px solid #ccc;border-bottom:1px solid #ccc;text-align:center;white-space:nowrap}
.infotable td{border-top:1px solid #ccc}
.wb .infotable td,.wb .CM td{border-color:#333}
.CM .last td,.CM td.last{border-bottom:0}
.CM td.first{border-left:0}
.CM td.headline{border-bottom:2px solid #ccc;background:#eee}
.CM td a{display:block;border:none;padding:2px 20px}
.wb .CM td.headline{border-color:#333;background:#222}
.infotable tr:hover,.CM tr:hover{background:#eee}
.wb .infotable tr:hover,.wb .CM tr:hover{background:#222}
.CM h2{padding:5px 10px;font-weight:normal}
.CM h2 a:link,.CM h2 a:visited,#mapnav h1 a:link,#mapnav h1 a:visited{border-color:#eee;color:#000}
.wb h2 a:link,.wb h2 a:visited,.wb #mapnav h1 a:link,.wb #mapnav h1 a:visited{border-color:#222;color:#fff}
#map_wrapper #mapnav h1 a:hover,.CM h2 a:hover{border-color:#c35}
.CM td a{color:#000}
.CM .hl a{color:#999}
.wb .hl a{color:#fff}
.new_day{border-top:1px solid #000}
.wb td.new_day{border-top:1px solid #fff}
td.dstchange a{background:#c35;color:#fff}
div .button{float:left;border:1px solid #eee;background:#eee;color:#000;font-weight:bold;font-size:16px;padding:15px;cursor:pointer;white-space:nowrap;margin:20px 10px 0 0}
div a.smallbutton{font-size:12px;padding:5px 10px;margin:5px 5px 0 0}
div .button:hover{border-color:#ccc;background:#f4f4f4;color:#000}
.wb div .button{border-color:#333;background:#333;color:#aaa}
.wb div .button:hover,.wb div .button.focused{border-color:#444;background-color:#444;color:#fff}
div input.greenbtn {background:#3c4;border-color:#3c4}
input.blankloc{color:#aaa}
.wb input.blankloc{color:#555}
.simplify .tr{visibility:hidden}
.selected,#map_canvas div{color:#000}
.simplify #navbg:hover .tr,.simplify .tr:hover{visibility:visible}
.simplify #navbg:hover .tr{opacity:1}
.simplify section,
.simplify .tr,.simplify .susdiv,.hide,.just .tr,.factspage #lC,.prnt{display:none}
.simplify #timewindow .tr{display:block;visibility:hidden}
.simplify #navbg,.just div#navbg,.infotable tr.nohover:hover,.wb .infotable tr.nohover:hover,.susdiv a:hover{background:none}
 label{display:block;padding-top:10px;color:#000}
.btnlbl{font-weight:normal;display:inline;padding:0}
.wb label{color:#fff}
label.blr{color:#666}
.wb label.blr{color:#999}
.checkbox{border:1px solid #999;height:15px;width:15px;padding:2px;margin-bottom:3px}
#map_canvas{z-index:1;height:2000px}
#mapnav{z-index:8;padding:2px 10px;position:absolute;right:0px;background:#fff;display:block;opacity:0.8;float:right;text-align:right}
#mapnav h1,#mapnav p{padding:0}
#mapnav h1{font-size:20px;line-height:24px}
.wb #mapnav{background:#000}
body,.caln tr.dayheaders:hover{background:#fff}
p{padding-bottom:20px}
.w{width:100%}
h2{font-size:22px;line-height:28px;font-style:normal}
h3{font-size:18px}
.year{display:none}
@media handheld{
#clock0 div{font-size:40px;line-height:48px}
}
#contactform .txtin,#contactform div{width:450px}
.sscr #contactform div{width:212px}
#cvwr{position:relative;padding:20px 0 40px 0}
.calendar{width:100%}
.month{clear:none;margin:0 25px 10px 0;height:219px}
.caln table{width:100%}
.caln td,.caln th{font-size:14px;line-height:20px;text-align:right}
.caln th{text-align:center;font-size:18px;font-weight:bold;line-height:36px;color:#c35;text-transform:capitalize;border-bottom:1px solid #ccc}
.caln th a:link,.caln th a:visited{border:0}
.caln:hover th.nextp a{color:#ccc}
.caln th.nextp a:hover{color:#000}
.caln .dayheaders{font-weight:normal}
.caln .dayheaders td{padding:4px 6px 0 0;font-size:10px;color:#000;text-align:right;font-weight:bold;border-bottom:1px solid #ccc}
.caln .wn{font-weight:normal;font-size:10px;color:#999;padding-left:0;width:9px;text-align:left;white-space:nowrap}
.caln .today span{border-color:#c35;color:#000}
.caln td.chosen a span{border-color:#000;background:#eee;color:#000}
.caln a:link,.caln a:visited{display:block;color:#000;padding:2px 2px 0px 1px;text-decoration:none;border:0}
.caln a:hover span{border-color:#000;background:#f8f8f8;color:#000}
.caln td.hld a span,.wb .caln tr td.hld a span{color:#c35;font-weight:bold}
.caln a span{padding:0px 2px;width:22px;display:block;border:1px solid #fff}
.caln td.past a span{color:#999}
.caln td.past.hld a span{color:#923}
.dinfo{position:absolute;background:#f8f8f8;margin-top:8px;width:236px;border:1px solid #eee;padding:4px;font-size:12px;line-height:16px;box-shadow:5px 5px 5px #ccc;white-space:normal}
.dinfo span{color:#999}
.popc .month{margin:5px 0 0 0;position:absolute;padding:0}
.popc table.caln{background:#fff;border:1px solid #ddd;padding:0 10px 10px 10px;margin:0;box-shadow:5px 5px 9px #888}
.wb .popc table.caln{background:#000;border-color:#555}
.shtable{margin-top:20px;width:100%}
.shtable td{padding:2px 20px 2px 0}
.shtable td,.shtable a:link,.shtable a:visited,.shtable p{font-size:12px;line-height:18px;border-color:#fff}
.shtable tr:hover a,div.shtable p a:hover{color:#000;border-color:#c35;cursor:pointer}
.shtable p a:link,.shtable p a:visited{border-color:#999}
.shtable p{width:100%}
@media braille,embossed,handheld,projection,screen,tty,tv{
.wb .caln th,.wb .caln .dayheaders td{color:#fff;border-color:#555}
.wb .caln th.nextp a:link,.wb .caln th.nextp a:visited{color:#000}
.wb .caln:hover th.nextp a{color:#555}
.wb .caln th.nextp a:hover,
.wb .caln .today span,
.wb .caln a:link,.wb .caln a:visited{color:#fff}
.wb .caln .today span{border-color:#c35}
.wb .caln .past.hld a span{color:#923}
.wb .caln td.chosen a span{border-color:#fff;background:#333;color:#fff}
.wb .caln a:hover span{border-color:#fff;background:#111;color:#fff}
.wb .caln a span,.wb .shtable a:link,.wb .shtable a:visited{border-color:#000}
.wb .caln tr.dayheaders:hover{background:#000}
.wb .caln .past{color:#999}

.wb .dinfo{background:#333;border-color:#444;box-shadow:none}
.wb .shtable tr:hover a,.wb div.shtable p a:hover{color:#fff;border-color:#c35}
}
@media print{
body.wb{background:#fff}
.wb div,.wb h1,.wb h2{color:#333}
.prnt{display:block}
.calendar,.noprint,#navbg,#clock0_bg,#timeis_wrapper,.nextp,.month div,#ads,#dd,#pL,#daydiv,#top,#menupositioner,.rad{display:none}
#cv{width:640px}
#pheader,#pfooter,#pcal,#pheader h1{float:none;margin:0 auto;width:634px}
#pheader h1{float:left;clear:none;text-align:center;margin-bottom:40px;font-style:normal}
#pheader h1 span{border-bottom:1px solid #c35}
#pfooter img{display:block;float:right;width:92px;height:38px}
.caln th{font-size:14px;line-height:24px}
#pcal td a span{font-size:10px;line-height:14px;width:14px}
#pcal .month{clear:none;height:180px;margin-right:32px}
#pcal .caln .today span{border-color:#fff}
#pcal td.past.hld span{color:#c35}
#pcal .caln td.chosen a span{border-color:#fff;background:#fff}
#pcal .col2{margin-right:0}
.hn #pcal td.wn{font-weight:normal;font-size:8px}
.hn #pcal td a span{font-size:9px}
}


.ltab a{font-style:italic}
#custom_code{height:120px;font:12px/16px Courier,Monospace;letter-spacing:0}
.item label{padding-top:0}
fieldset .emph{background:#000}
.wb fieldset .emph{background:#fff;color:#000}
.wtab input{margin:2px 0 2px 10px}
pre{font-size:12px;padding:5px;margin-bottom:20px;background:#eee;float:left}
.wb pre{background:#222}
.tbx.leftfloat h2{float:left;clear:none}
#cvwr .nav{margin-top:20px}
.tbx.leftfloat a{margin:0 10px 10px 0}
.ptab{background:#eee;padding:5px;margin-bottom:20px}
.wb .ptab{background:#222}
.ptab td{padding:2px 20px 2px 0;font-size:12px;line-height:18px}
.widget_examples{background:#eee;padding:20px;margin-bottom:20px;font-size:24px;line-height:32px}
.wb .widget_examples{background:#222}
.ptab td{vertical-align:top}
.bdg{clear:none;padding:0 20px 20px 0}
.bsap a{background:#eee;width:468px;height:60px;display:block;border:none;line-height:60px}
.wb .bsap a{background:#222}
.nicediff{background:#000;color:#fff;float:left;padding:0 20px}
.wb .nicediff{background:#fff;color:#000}
.txtad a:link,.txtad a:visited{display:block;padding:0 10px;background:#c35;color:#fff;white-space:nowrap}
.txtad a:hover{background:#e57}
#bannerad a:link{border:none;padding:0}
#bannerad{position:relative}
a.ldrbrd:link{display:block;float:left;width:726px;height:88px;border:1px solid #999;background:#fff;color:#c35;font-size:36px;line-height:88px;padding:0;text-align:center}
.wb a.ldrbrd:link{border:1px solid #999;background:#000}
.ldrbrd img{width:728px;height:90px}
.txtad .ldrbrd a:link,.txtad .ldrbrd a:visited{padding:0}
#imageselector a{display:block;float:left;margin:0 20px 20px 0;border:1px solid #999;background:#fff;padding:10px;box-shadow:5px 5px 10px #999}
#imageselector a:hover{border-color:#000;opacity:.8}
.wb #imageselector a:hover{border-color:#fff}
#imageselector img{width:300px;height:200px}
.greeting_card{width:600px;border:1px solid #999;background:#fff;padding:20px 20px 0 20px;margin-right:20px}
.greeting_card img{width:600px}
.greeting_card h2{overflow:hidden}
#displayed_message{position:absolute;bottom:0;font-family:'Indie Flower';font-size:22px;line-height:28px;background:#fff;color:#000;padding:10px;font-weight:normal;opacity:.8}
#displayed_message p{margin:0;padding:0}
#displayed_message.edt{opacity:.9}
#socbuttons{position:relative;width:294px;z-index:3}
#socbuttons a{position:relative}
#social_div{position:absolute;top:-11px;left:-1px;background:#fff;padding:49px 10px 2px 10px;box-shadow:5px 5px 5px #999;width:284px;z-index:1;border:1px solid #ccc}
.wb #social_div{background:#000;border-color:#333}
.faded #socbuttons.off a{opacity:.4}
.wb .faded #socbuttons.off a{opacity:.8}
.faded #socbuttons.off a:hover{opacity:1}
#pinA:hover{border:0}
.hdn{opacity:0;transition:opacity .5s ease;-moz-transition:opacity .5s ease}
.hdn:hover{opacity:1}
#bdy,div,td,#menu span,input,textarea{transition:border-color .2s ease,background-color .2s ease;-moz-transition:color .2s ease,border-color .2s ease,background-color .2s ease}
.lg a{transition:background .2s ease;-moz-transition:background .2s ease}
.customize fieldset legend{float:left;padding-right:20px;text-align:right;font-family:Arial,Helvetica,sans-serif;padding-top:0px}
.customize fieldset div{max-width:500px;clear:none;float:left}
.customize li .label{width:300px;float:left}
.customize li .inp {clear:none;float:left;width:100px;}
.txtin,.dateinput{background:#eee;border:1px solid #ddd;width:138px;padding:10px;color:#333}
.txtin select,#pheader h1{float:right}
.mout{border-color:#eee}
.shadows fieldset{box-shadow:5px 5px 10px #999}
fieldset div div{margin:0;padding:0}
.wb fieldset{background:#222}
.txtin select{width:150px;background:#f8f8f8;color:#333;border:0;float:left;display:block}
.wb select{background:#222;color:#fff}
form .button{border-color:#eee}

.item{padding:0 20px 40px 0;clear:none}
#customize .item{clear:both}
#widgetform .mout{background:#fff;border-color:#fff}
.wb #widgetform .mout{background:#000}
#widgetform .focused{border-color:#999}
#widgetform #custom_code{width:100%;background:#eee}
.wb #widgetform #custom_code{background:#222}


#customize label.btnlbl{font-size:16px;line-height:20px;width:80%}

.slct{width:298px}
select{width:100%;padding:10px;line-height:20px;font-size:16px;border:1px solid #999;border-radius:0;background:#fff;color:#000}
.smaller select{line-height:32px;height:32px;width:100px}
#customize .item{padding:0 0 10px 0;margin-top:10px}
.wb #customize legend,.wb #customize fieldset{background:none}

.ltab{background:#eee;padding:10px;border:2px dotted #ccc;width:298px}
.wb .ltab{background:#222;border-color:#555}

.visible{visibility:visible;opacity:1;transition:opacity .5s ease}
.hidden{display:none;visibility:hidden;opacity:0;transition:visibility 0s .5s,opacity .5s ease}

.wb #customize{background:#000;border-color:#666}
#mapnav select{width:150px;padding:0}

#customize{background:#fff;padding:20px 40px;opacity:.8}
#customize .item legend{padding-left:0}
#customize .item,#customize .item div{width:100%}

.veil{display:none;
  position:fixed;width:100%;height:100%;z-index:11;background:#eee;opacity:.9}
.wb .veil{background:#222}
#overlayer{width:100%;z-index:12;opacity:.9;background:#fff}
.wb #overlayer{opacity:.85;background:#000}

.topcv{clear:none;float:none;max-width:380px;margin:0 auto}
#customize{padding-left:0;padding-right:0}

#top{position:relative}

#widgetform fieldset{padding:0}

.cloud{text-align:center;line-height:40px}
.cloud a:link,.cloud a:visited{border-color:#fff}
.wb .cloud a:link,.wb .cloud a:visited{border-color:#222}

.cloud a{white-space:nowrap;margin-right:10px;vertical-align:middle;border-color:#eee}
.cloud a:hover{border-color:#c35}
a:link.capital,a:visited.capital,a.top{font-size:70px;line-height:80px;color:#fff}
.s1{font-size:52px}
.s2{font-size:44px}
.cloudtype1 a.s1,.cloudtype1 a.s2{background:#000;color:#fff;padding:0 10px;margin:5px 0}
.cloudtype1 a{padding:0 10px}
.wb.cloudtype1 a.s1,.wb.cloudtype1 a.s2{background:#fff;color:#000}
.cloudtype1 a.cloudhome,.wb .cloudtype1 a.cloudhome{background:#c35;color:#fff}
.s3{font-size:40px}
.s4{font-size:36px}
.s5{font-size:32px}
.s6{font-size:28px}
.s7{font-size:24px}
.s8{font-size:22px}
.s9{font-size:20px}
.s10,.s11,.s12,.s13,.s14,.s15,.s16{font-size:16px}
.bold{font-weight:bold}

.scloud a.capital,a.top{font-size:50px;line-height:60px}
#top_cities a:link,#top_cities a:visited{color:#fff}
#top_cities a.s1,#top_cities a.s2{color:#000}
.scloud .s1{font-size:32px;line-height:36px}
.scloud .s2{font-size:24px;line-height:28px}
.scloud .s3{font-size:23px;line-height:27px}
.scloud .s4{font-size:22px;line-height:26px}
.scloud .s5{font-size:21px;line-height:25px}
.scloud .s6{font-size:20px;line-height:24px}
.scloud .s7{font-size:19px;line-height:22px}
.scloud .s8{font-size:18px;line-height:21px}
.scloud .s9{font-size:17px;line-height:20px}
.scloud .s10,.scloud .s11,.scloud .s12,.scloud .s13,.scloud .s14,.scloud .s15,.scloud .s16{font-size:16px;line-height:19px}

#top_cities{background:#333}

article{width:100%;margin-bottom:60px;display:block;float:left}
.datestamp{font-size:12px}
.links ul{padding:0px;margin:0}
.links li{margin-bottom:20px;list-style:none;margin-left:0}
.source{font-weight:bold;background:#333;color:#fff;padding:0 10px}
.morelink:link,.morelink:visited{font-weight:bold}

.section h1{font-style:normal;text-align:center;padding-top:20px;padding-bottom:0}
.section{width:90%;padding:20px 5%;border-top:1px solid #ccc;position:relative}
.wb .section{border-top:1px solid #222}
.section.even{background:#eee}
.wb .section.even{background:#222}
.cloud ul,.cloud li{list-style:none;display:inline;padding:0}
.cloud a.country{padding:5px 10px}
.country{background:#000;color:#fff}
.wb .country{background:#fff;color:#000}
a.country:link,a.country:visited{color:#fff}
.wb a.country:link,.wb a.country:visited{color:#000}
.multizone,.cloud a.multizone{border-bottom:2px dashed #666
}
.wb .multizone,.wb .cloud a.multizone{border-bottom:2px dashed #ccc}
.multizone.country,.cloud a.multizone.country{background:#666;border:none;color:#fff}
.wb .multizone.country,.wb .cloud a.multizone.country{background:#999;border:none;color:#000}
.cloud a.country:hover,.cloud a.multizone.country:hover{background:#c35;color:#fff}
.cloud a{transition:all .3s ease-out;line-height:46px}
.cloud li.on a{background:#c35;color:#fff}

#bdy.clouded div#clock0_bg{background:none}
#msgs h1{padding-bottom:0}

#fusion-wrap,.fusion-img,.fusion-text{display:block}
#fusionads a{float:left;text-align:left}
.rightad #fusionads a{float:right;text-align:right}
.fusion-poweredby{display:none}
.fusion-text{margin:22px 20px 0 20px;width:300px;white-space:normal}
#ads a#AdsbyFusion{color:#999;display:block;position:absolute;left:150px;font-size:12px;font-weight:bold;text-align:left;border:none;white-space:nowrap}
#ads.rightad a#AdsbyFusion{right:150px;left:auto;text-align:right}

#ads a:link,#ads a:visited,#ads a:hover{border:none;background:none;color:#000}
.wb #ads a:link,.wb #ads a:visited,.wb #ads a:hover{color:#fff}

.rtl .rightad a{float:left;text-align:left;direction:ltr}

.announcement{margin-bottom:20px;padding:10px;background:#000;color:#fff}
.announcement a:link,.announcement a:visited{color:#fff}
.wb .announcement{background:#fff;color:#000}
.wb .announcement a:link,.wb .announcement a:visited{color:#000}




fieldset{display:block;width:100%}
.maxtouch{width:100%}
#customize .maxtouch fieldset{padding:0;margin:0;overflow:hidden;position:relative}
#customize .maxtouch fieldset label{margin:20px 0 10px 20px}
.rtl #customize .maxtouch fieldset label{margin:20px 20px 10px 0}
#customize .maxtouch fieldset div select{position:absolute;top:0;height:122px;line-height:122px;padding:0 20px;margin-top:0;
  -webkit-appearance:none;display:inline-block;border:none;background:none;
}


.wb #customize div select{color:#fff;margin:0}


#quote{text-align:center;background-color:#75a;color:#fff;padding:160px 5%}
blockquote{font-size:40px;line-height:50px;text-align:center;color:#fff;direction:ltr}
cite{clear:both;display:block;margin:0;padding:0}
cite a:link,cite a:visited,.wb cite a:link,.wb cite a:visited{color:#ccc;border-color:#75a}
cite a:hover,.wb cite a:hover{border-color:#fff}


.icon-nav{padding-top:15px;float:right;clear:none}
.icon-nav a{border:none;color:#999;display:block;float:left;clear:none;width:28px;margin-left:30px}
.close-btn{position:absolute;top:10px;right:0;font-size:40px;color:#999;margin-right:5%;cursor:pointer}

.rtl .icon-nav{float:left}
.rtl .icon-nav a{float:right;margin-left:0;margin-right:30px}
.rtl .close-btn{left:0;right:auto;margin-right:0;margin-left:5%}

#time_section{width:100%;z-index:-2;margin-top:0px}

#menupositioner{width:100%}
.menu_open #menupositioner{position:absolute;z-index:15;background:#333;visibility:visible;display:block;top:0}

#close-menu{display:none}
.menu_open #close-menu{display:block;z-index:16}

#nav{position:relative}
#nav a.logo{color:#c35}
#nav a.logo:hover{color:#fff}
nav{clear:both;display:block;float:left;width:90%;padding:60px 5% 0px 5%;background:#333;color:#fff;font-size:20px;line-height:28px}
nav a:link,nav a:visited,.wb nav a:link,.wb nav a:visited{color:#fff;border:none;padding:5px 10px;margin-left:-10px}
.rtl nav a:link,.rtl nav a:visited,.rtl wb nav a:link,.rtl .wb nav a:visited{margin-left:0;margin-right:-10px}
nav a:hover,nav li.chosen a:hover,footer .hzlist a:hover,.wb footer .hzlist li a:hover{background:#c35;color:#fff}

nav h3{font-size:30px;line-height:30px;font-weight:normal;margin-bottom:20px;letter-spacing:2px}
nav .logo{font-family:'Arial Black','Arial-BoldMT','Arial Bold';font-size:42px}
nav .slogan{font-size:38px;white-space:nowrap;font-weight:normal}
nav li.chosen a,.wb nav li.chosen a,.wb footer nav .hzlist li.chosen a{padding:4px 9px;background:#fff;color:#000}

nav ul{padding-left:0;clear:none;float:left;margin-right:20px}
.rtl nav ul{padding-right:0;float:right;margin-right:0;margin-left:20px}
nav li{list-style:none;margin:0;padding:0;font-size:22px;line-height:32px}

#follow_app{clear:none;float:right;font-size:24px;line-height:32px;margin:7px 0 0 40px}
#follow_app a:link,#follow_app a:visited,#follow_app a:hover{padding:0;background:none}
#follow{float:right;line-height:32px}
.rtl #follow_app{margin:7px 40px 0 0}
#follow_app #follow a{display:block;float:left;margin-left:10px;border:0;width:0px;height:32px;padding-left:32px;overflow:hidden}
.rtl #follow_app,.rtl #follow{float:left}
.rtl #follow_app #follow a{float:right;margin-left:0;margin-right:10px;padding-left:0;padding-right:32px}

#appbadge{float:right;margin-bottom:20px}
#appbadge img{margin-top:10px;width:135px;height:40px;float:right}
.rtl #appbadge,.rtl #appbadge img{float:left}

#menulinks{float:left;margin-top:20px}
.rtl #menulinks{float:right}

footer{display:block;float:left;width:90%;padding:0 5% 60px 5%;background:#333}
footer nav{padding:0;background:none;width:100%}
footer .hzlist{clear:both;margin-bottom:10px;}
footer .hzlist li{clear:none;float:left;color:#999;list-style:square;padding:0;margin-left:19px;padding:0}
.rtl footer .hzlist li{float:right;margin-left:0;margin-right:19px}
.wb footer .hzlist a:link,.wb footer .hzlist a:visited{color:#999}
footer .hzlist li.first{list-style:none;margin-left:0}
.rtl footer .hzlist li.first{margin-right:0;margin-left:19px}
footer .hzlist li.last{margin-right:0}
.rtl footer .hzlist li.last{margin-left:0}
footer .hzlist li a{margin-left:-10px}
.rtl footer .hzlist li a{margin-left:0;margin-right:-10px}

footer{color:#999;font-size:16px;line-height:20px}
footer a:link,footer a:visited,.wb footer a:link,.wb footer a:visited{color:#999}
footer div{font-size:12px;line-height:16px}
footer div a:link,footer div a:visited,.wb footer div a:link,.wb footer div a:visited{border-color:#666}
footer div a:hover,.wb footer div a:hover{color:#fff;border-color:#c35}
.wb footer div{color:#999}

#footerlangs{margin-bottom:10px;direction:ltr}
#footerlangs a:link,#footerlangs a:visited{border-color:#333;white-space:nowrap;margin-right:10px}
#footerlangs a:hover{border-color:#c35}
.rtl #footerlangs a{margin:0 0 0 20px}

nav{padding:60px 5% 0px 5%;font-size:20px;line-height:28px}
nav li{list-style:none;margin:0;padding:0;font-size:18px;line-height:26px}


.lg{margin-bottom:20px;}
#bdy h1#pL{display:none;}

#ads{margin-bottom:40px}


section{clear:both;float:left;display:block;width:90%;padding:60px 5%;position:relative;background:#222;color:#fff}

section h2,q{color:#fff;font-size:40px;line-height:34px;letter-spacing:2px;float:left;margin-bottom:20px}
.rtl section h2,.rtl q{float:right}

section h2 span{color:#c35}
section h2 a:link,.section h2 a:visited,.section h3 a:link,.section h3 a:visited{color:#fff;border:none}
.infobox{margin-bottom:20px;background:#333;padding:20px}

section h3{position:relative;float:left;margin-top:-20px;margin-bottom:10px;font-size:22px;line-height:30px;color:#fff;letter-spacing:2px}
.keypoints{font-size:22px;line-height:36px;font-weight:bold}
section#map{position:relative;width:100%;padding:0;background:#324}
#worldmap{z-index:2;width:100%;height:550px}
#worldmapcover{position:absolute;z-index:300;width:100%;height:550px}
.jvectormap-zoomin,.jvectormap-zoomout{display:none}

#maptext{position:absolute;left:5%;top:40px;z-index:303;color:#fff;text-shadow:0 3px 3px #000}
.rtl #maptext{left:auto;right:5%}
#maptext .action_buttons a{color:#fff;border-color:#fff}
#maptext .action_buttons a:hover{color:#000;text-shadow:none}
.other_cities_on_map{position:absolute;bottom:5px;padding:0 5%;z-index:2;color:#fff;background:#326;opacity:.8;width:90%;text-align:center}


section#largest_cities{background:#222}
section#largest_cities h2{float:none;text-align:center;margin-bottom:40px}
section#largest_cities h2 a:link,section#largest_cities h2 a:visited{font-weight:900;font-size:82px;line-height:80px;color:#c35}
#largest_cities .cloud{margin-bottom:40px}

ul{clear:both}



.action_buttons div{clear:none}
.action_buttons a:link,.action_buttons a:visited,.wb .action_buttons a:link,.wb .action_buttons a:visited{border:1px solid #666;padding:10px;display:block;float:none;clear:none;margin-right:20px;margin-bottom:20px}
.rtl .action_buttons a:link,.rtl .action_buttons a:visited{margin-right:0;margin-left:20px}
div.action_buttons a:hover{border-color:#fff;background:#fff;color:#000}


.diff_table h2 span span{font-size:20px;font-weight:normal;color:#000}
.diff_table h2{padding-bottom:20px}
.wb .diff_table h2{line-height:24px}
.wb .diff_table h2 span span{color:#fff}

.diff_table{width:100%;margin-bottom:40px}
.diff_table td{padding:5px;position:relative}
.diff_table td span{color:#fff;display:block;float:left;width:1px;overflow:hidden}
.diff_table.only_positive th h3{margin-left:-4px;text-align:left;padding-left:0}
.diff_table.only_positive .neg_diff{padding:0}
.diff_table td div{line-height:30px;height:30px;clear:none}
.neg_diff{border-right:4px solid #c35;text-align:right}
.diff_table td.neg_diff{padding-left:0}
.neg_diff div,.diff_table div div{float:right}
.diff_table .neg_diff div div{float:left}

.diff_table a:link,.diff_table a:visited{display:block;float:left;margin-left:10px;border-color:#fff;color:#000}
.diff_table .neg_diff a:link,.diff_table .neg_diff a:visited{margin:0 10px 0 0}
.diff_table a:hover,.diff_table .neg_diff a:hover{border-color:#c35}

.neg_diff .diff_bar{text-align:right}
.neg_diff .diff_bar{margin:0 0 0 10px}

.diff_bar{margin:0 20px 0 0;position:relative;background:#000}
.diff_table .diff_bar_label,.diff_table .diff_bar_label_small,.diff_table .diff_bar_label_0{position:absolute;font-size:16px;color:#fff;background:none;left:10px}
.diff_table .diff_bar_label_small{left:2px}
.diff_table .diff_bar_label_0{color:#000}
.diff_table .neg_diff .diff_bar_label{right:0;left:auto;right:10px}
.diff_bar div{background:#000}
.diff_bar .diff_25{width:10px}
.diff_bar .diff_5{width:20px}
.diff_bar .diff_75{width:30px}
.diff_bar .diff1{width:40px}
.diff_bar .diff2{width:80px}
.diff_bar .diff4{width:160px}
.diff_bar .diff8{width:320px}
.diff_bar .diff16{width:640px}
.diff_bar_label,.nowrap{white-space:nowrap}

.wb .diff_table td span{color:#333}
.wb .diff_table a:link,.wb .diff_table a:visited{border-color:#222;color:#fff}
.wb .diff_bar{background:#fff}
.wb .diff_table .diff_bar_label,.wb .diff_table .diff_bar_label_small,.wb .diff_table .diff_bar_label_0{color:#000}
.wb .diff_table .diff_bar_label_0{color:#fff}
.wb .diff_bar div{background:#fff}


#photo{height:500px;background:#000;background-position:center center;background-size:cover}
.attribution{position:absolute;bottom:0;right:0;z-index:2;width:100%;}
.attribution div{position:absolute;right:0;padding:5px 20px;color:#999;font-size:12px;line-height:16px;text-align:right}

@media only screen and (max-width:1200px){
#follow_app{clear:none;float:left;margin-left:0}
#follow,#appbadge{clear:none;float:left}
#follow{margin:0 40px 20px 0}
#appbadge img{margin-top:-4px}
#menulinks{margin-top:0px}
}

#follow_app.below{clear:none;float:left;margin-left:0}
.below #follow,.below #appbadge{clear:none;float:left}
.below #follow{margin:0 40px 20px 0}
.below #appbadge img{margin-top:-4px}
.below #menulinks{margin-top:0px}

@media only screen and (max-width:850px){
nav .slogan{font-size:28px}
}
@media only screen and (max-width:679px){
nav .slogan{display:block;clear:both;white-space:normal}
nav .slogan span{display:none}
}

@media only screen and (max-width:639px){
h1,h2,#dd{font-size:24px;line-height:28px}
body,#favs li{font-size:16px;line-height:20px}

nav{padding-top:40px}
nav .logo{font-size:32px}
nav .slogan{display:block;clear:both;font-size:20px;white-space:normal}

nav ul{clear:both;}



#favs li a{padding:5px 15px}
section h2{font-size:24px;line-height:28px;}

#photo{height:200px}

section#largest_cities h2 a:link,section#largest_cities h2 a:visited{font-size:52px;line-height:50px;color:#c35}

#quote{padding:100px 5%}
blockquote{font-size:30px;line-height:40px}

}



@media only screen and (max-width:750px){
.wb .diff_bar{background:none}
#time_difference .diff_table .diff_bar div{background:none;width:auto;color:#fff;padding-left:10px;position:relative;float:right;text-align:right;}
}

@media only screen and (max-width:540px){
#contactform .txtin,#contactform div,#formatted_time{width:290px}
#formatted_time{width:290px;font-size:12px}
}

@media only screen and (max-width:400px){
body{letter-spacing:1}
.lg a:link,.lg a:visited{padding:15px;font-size:22px}
#q.txtin{height:30px}
footer .hzlist a:link,footer .hzlist a:visited{font-size:14px;line-height:18px;}
#dd{font-size:16px;line-height:20px}
.icon-nav{padding-top:10px}
.icon-nav a{margin-left:20px}

table{position:relative;width:100%}
tr{position:relative;width:100%}
td{width:50%}
#time_difference table td{position:relative;border:none;padding:0}
#time_difference table td a{line-height:30px}
#time_difference table td div{position:static;margin:0;}

#time_difference .diff_table .diff_bar{position:absolute}
#time_difference .diff_table .diff_bar div.diff_bar_label_small,#time_difference .diff_table .diff_bar div.diff_bar_label,#time_difference .diff_table div.diff_bar_label_0{position:absolute;left:auto;right:0;text-align:right;padding:0;}
#time_difference .diff_table .diff_bar,#time_difference .diff_table .diff_bar div{width:100%;padding-left:0;padding-right:0}


#photo{height:150px}
section#largest_cities h2 a:link,section#largest_cities h2 a:visited{font-size:inherit;line-height:inherit}

#quote{padding:60px 5%}

.cloud a{line-height:30px}

a:link.capital,a:visited.capital,a.top{font-size:28px;line-height:36px;}
.s1{font-size:23px}
.s2{font-size:22px}
.s3{font-size:21px}
.s4{font-size:20px}
.s5{font-size:19px}
.s6{font-size:18px}
.s7{font-size:17px}
.s8{font-size:16px}
.s9{font-size:15px}
}

div#language_cloud{text-align:center;margin-bottom:40px;font-size:28px;line-height:50px;font-weight:normal}
div#language_cloud a{margin:0 15px;white-space:nowrap;border:none;font-size:28px}
div#language_cloud a:hover{background:#c35;color:#fff}

@media only screen and (max-width:420px){
.topcv{max-width:320px}
.cmpstart{clear:both}
input.comparelocation{width:320px}
#compare_form .susdiv table{width:342px}
#compare_form .susdiv td{width:217px}
#compare_form .susdiv td.t{width:85px;text-align:right}
#compare_form .susdiv a{padding:10px}
#compare_form .susdiv a span{width:207px;font-size:16px;line-height:18px}
#compare_form .susdiv td.t span{width:75px}
}
@media only screen and (max-width:380px){
.topcv{max-width:320px}
#contactform .txtin,#contactform div{width:266px}
input.comparelocation{width:266px}

#compare_form .susdiv table{width:288px}
#compare_form .susdiv td{width:143px}
#compare_form .susdiv td.t{width:115px}
#compare_form .susdiv a{padding:10px}
#compare_form .susdiv a span{width:133px;font-size:16px;line-height:18px}
#compare_form .susdiv td.t span{width:95px}
}

#favs{position:relative;margin-top:20px;list-style:none;float:right;clear:none;display:block}
#favswindow #favslider #favs.lines li{position:absolute;right:0}
.rtl #favswindow #favslider #favs.lines li{right:auto;left:0}
#favs.lines li a{margin:0;padding:0;background:none;border:none;font-size:20px;line-height:34px}
#favs li a{text-align:right}
#favs li a .wd{font-size:14px;margin-right:0px}
#favs li a .time{font-weight:bold}
#favs li a .ampm{color:#999;font-weight:normal;font-size:12px}

#favs .longlocname,#favs .wd{display:none}
#favs li{position:relative;list-style:none;float:right;clear:none;display:block;line-height:22px}
#favs li{font-weight:bold}
.hn #favs li a .locname{xcolor:#999;font-weight:bold}
#favs .wd{color:#999}

#favs .locname{color:#000}

.rtl #favs{float:right}
.rtl #favs li{float:left}
.rtl #favs li a{text-align:left}

.factspage #clock0_bg,.factspage #dd,.factspage #daydiv{display:none}

body.arial,.op select,.arial input,.arial textarea,
.arial h1,.arial h2,.arial nav h3,.arial #clock0 div{font-family:Arial,Helvetica,sans-serif}
.arial h1,.arial h2,.arial h3,.arial #dd{font-weight:bold;font-style:normal}
.arial #dd,.arial #pL{font-weight:normal}

body.arialb #clock0 div,body.arialb h1,body.arialb h2,body.arialb #dd{font-family:'Arial Black',Arial,Helvetica,sans-serif}

body.hn,.hn select,.hn input,.hn textarea,.hn #clock0 div{font-family:'HelveticaNeue-UltraLight','Helvetica Neue Ultralight','Helvetica Neue','Segoe UI Light','Calibri Light','adobe-clean',Helvetica,Arial,sans-serif;font-weight:normal}

body.op,.op select,.op input,.op textarea,
.op h1,.op h2{font-family:Optima,'Gill Sans',Futura,'Times New Roman'}
.op h1,.op h2{font-weight:900}

body.rbt,.rbt select,.rbt input,.rbt textarea,
body.rbt #clock0 div,.rbt h1,.rbt h2{font-family:Roboto,sans-serif}
.rbt .logo,.rbt h1,.rbt h2{font-weight:900}

body.os,.os select,.os input,.os textarea,
body.os #clock0 div,.os h1,.os h2{font-family:'Play',sans-serif}
.os .logo,.os h1,.os h2{font-weight:900}

.rad{margin-top:40px;min-height:90px;border:1px solid #999;margin:0 auto;float:none;max-width:100%}
.rad img{max-width:100%}
@media only screen and (max-width:799px){
.rad{width:100%;height:auto;margin:0;float:left}
}
@media all and (min-width:810px) {
.cad{float:none;width:728px;margin:0 auto}}
}
::selection{background:#c35;color:#fff}

.icon-nav,#qbox{z-index:11}


